* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    height: 100vh;
    /* scroll-behavior: smooth; */
}

body {
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #4dc6fff1;
    border-radius: 0 0 10px 10px;
    border: 1px solid #ffffff52;
    background-color: #001629e0;
    z-index: 20;
    align-items: center;
    width: 100%;
}

.menu {
    /* background-color: #313131; */
    width: fit-content;
    transition: 0.5s ease;
    width: 47px;
}

.bar-container {
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}

.bars {
    padding: 7px 5px;
    color: #4dc6fff1;
    cursor: pointer;
    font-size: 21px;
    border-radius: 10px;
    border: 1px solid #ffffff80;
    background-color: transparent;
    height: 44px;
    z-index: 10;
    position: relative;
}

.bar {
    background-color: rgb(255, 255, 255);
    width: 35px;
    height: 3px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: 0.5s ease;
}


.option-container {
    border-radius: 0 0 10px;
    transition: 0.5s ease;
    top: 0;
    position: absolute;
    padding: 100px 25px;
    transform-origin: 1% 1%;
    transform: scale(0);
    height: 100vh;
    width: 50%;
}


.option {
    margin: 10px;
    border-radius: 10px;
    background-color: #ffffff12;
    padding: 10px 20px;
    width: fit-content;
    border: 1px solid #ffffff30;
}

.site-name {
    font-size: 30px;
    color: #48c5fff1;
    filter: drop-shadow(1px 4px 2px black);
}

.login {
    padding: 7px 15px;
    color: #4dc6fff1;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ffffff69;
    filter: drop-shadow(-2px 0px 3px black) contrast(2.5);
    background-color: transparent;
    height: 40px;
    backdrop-filter: blur(10px);
}

.login:hover {
    filter: drop-shadow(-2px 0px 1px black) contrast(2.5);
}

#overlay-root {
    position: fixed;
    inset: 0;
    z-index: 99990;
    pointer-events: none;
}

.container {
    height: 100%;
    width: 90%;
    text-align: center;
    will-change: filter;
}

h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #48c5fff1;
}

.search-bar {
    display: flex;
    gap: 10px;
    transform: translate(0%);
    margin: 10px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background: #00000000;
    border: 1px solid #ffffff94;
    box-shadow: 0 0 20px #00d0ff6b;
    outline: none;
    color: white;
}

#searchBtn {
    padding: 7px 15px;
    color: #4dc6fff1;
    cursor: pointer;
    font-size: 21px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    border: 1px solid #00000026;
    filter: drop-shadow(-2px 0px 3px black) contrast(2.5);
    background-color: #ffffff3b;
}

#searchBtn:hover {
    filter: drop-shadow(-2px 0px 1px black) contrast(2.5);
}

#filterMovies h1 {
    color: #48c5fff1;
    filter: drop-shadow(1px 4px 2px black);
    font-weight: 100;
    font-size: 28px;
    margin: 10px;
}

.filter-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 7px;
    margin: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: auto;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.dropdown-toggle-container {
    padding: 8px 12px;
    cursor: pointer;
    user-select: none;
    filter: drop-shadow(-2px 0px 3px black) contrast(2);
    background-color: rgb(0 0 0 / 19%);
    border-radius: 10px;
    opacity: 0.7;
    position: relative;
    border: 1px solid #ffffff5c;
    backdrop-filter: blur(5px);
}

.dropdown.bg-checked .dropdown-toggle-container {
    background-color: #48c5fff1;
    color: #000000;
}

.dropdown.bg-clicked .dropdown-toggle-container {
    background-color: rgb(102 102 102);
}

.dropdown.open .dropdown-toggle-container {
    opacity: 1;
    z-index: 10;
    border-radius: 10px 10px 10px 0;
}

.dropdown-toggle {
    user-select: none;
}

.dropdown-toggle-container:hover {
    filter: drop-shadow(-2px 0px 1px black) contrast(2.5) brightness(1.2);
}

.dropdown-sign {
    transform: scaleY(1);
    display: inline-block;
    transition: transform 0.3s ease;
}

.dropdown.open .dropdown-sign {
    transform: scaleY(-1);
}

.dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ffffff6b;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgb(0 0 0);
    background-color: rgb(0 0 0 / 59%);
    backdrop-filter: blur(5px);
    transform: scale(0);
    transform-origin: 0% 0%;
    transition: 0.3s ease;
    border-radius: 0 10px 10px 10px;
}

.dropdown.open .dropdown-menu {
    transform: scale(1);
    z-index: 1;
    width: 200px;
}


.selectAll {
    padding: 5px;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #ffffff;
    background-color: #00000000;
    border: 1px solid #ffffff63;
    border-radius: 10px;
}

.selectAll:hover {
    color: #000000;
    filter: drop-shadow(0px 0px 1px black) brightness(2);
    background-color: #0087ffd1;
    border: 1px solid transparent;
}

.dropdown-menu label {
    display: block;
    margin-bottom: 4px;
    cursor: pointer;
    border: 1px solid #ffffff63;
    border-radius: 10px;
    padding: 7px;
}

.dropdown-menu input[type="checkbox"] {
    margin-right: 6px;
    width: 12px;
    height: 12px;
    accent-color: #48c5fff1;
    cursor: pointer;
    box-shadow: 0 0 1px #48c5fff1;
    padding: 10px;
}

.dropdown-menu input[type="radio"] {
    margin-right: 6px;
    width: 15px;
    height: 15px;
    accent-color: #48c5fff1;
    cursor: pointer;
    box-shadow: 0 0 1px #48c5fff1;
    padding: 10px;
}

#results {
    margin-top: 20px;
    text-align: left;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 60px solid white;
    transition: 0.3s ease;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.play-btn::before {
    content: "";
    position: absolute;
    top: -55px;
    left: -93px;
    width: 110px;
    height: 110px;
    background: #ffffff45;
    border-radius: 50%;

    transition: 0.3s ease;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    visibility: hidden;
}

.play-btn.play-btn-active {
    left: 52%;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid #00b4ff;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    top: 50%;
}

button {
    padding: 10px 15px;
    background-color: #ffffff54;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;
    transition: 0.3s ease;
}

.buttons button {
    padding: 0px 8px;
    background-color: #ffffff54;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
    height: 27px;
    visibility: hidden;
    opacity: 0;
}

button:hover {
    background-color: #00b0ffa6;
    color: #ffffff;
}

.more-info-btn {
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #ffffff54;
    color: #ffffff;
}

.more-info-btn:hover {
    background-color: #00b0ffa6;
    color: #ffffff;
}

.result-item:hover>.buttons {
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.resolution-select {
    height: 27px;
    border-radius: 16px;
    padding: 0px 2px;
    width: 54px;
    font-size: 12px;
}


.result-item-wrapper {
    background: #00000078;
    padding: 6px 4px 0;
    border-radius: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #ffffff82;
    width: 100%;
    overflow: hidden;
}

.result-item {
    background: #00000099;
    padding: 0;
    border-radius: 7px;
    height: 100%;
    width: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
    border: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    align-self: center;
}

.title {
    padding: 7px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    text-wrap-mode: nowrap;
    align-self: center;
}

.year {
    background-color: #00b0ff;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    font-size: 13px;
    text-shadow: 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000;
    width: fit-content;
    margin: 5px;
}

.rating-value {
    align-self: end;
    padding: 5px;
    border-radius: 5px;
    text-shadow: 0 0 3px black;
    position: absolute;
    margin-right: 5px;
    color: #00ffde;
    font-size: 20px;
    font-weight: 700;
    margin-top: 220px;
    background: #00000054;
}

.dm-btns {
    margin: 5px;
    text-align: center;
    font-size: 14px;
    gap: 5px;
    display: flex;
    align-items: baseline;
}



.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, backdrop-filter 0.3s ease;
    z-index: 20;
}

.modal.show {
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(30px);
    will-change: filter;
}

.modal.reset-blur {
    opacity: 0;
    backdrop-filter: blur(0px);
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    color: #dbd0d0;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #00000052;
    overflow: auto;
    max-height: 80%;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: lighter;
    align-self: flex-end;
    margin-bottom: 10px;
    border: 1px solid #ffffff8f;
    height: min-content;
    width: min-content;
    padding: 0 7px;
    border-radius: 7px;
    transition: 0.2s ease;
    opacity: 0.7;
}

.close-btn:hover,
.close-btn:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

.poster-and-description {
    display: inherit;
    gap: 30px;
}

.poster-wrapper {
    position: relative;
    width: 350px;
    height: 400px;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.poster-wrapper .no-poster-text {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    /* background: #5c5c5c26; */
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.poster-loading {
    background-color: #5c5c5c26 !important;
}

.modal.data-loading #movieTitle,
.modal.data-loading #movieDescription,
.modal.data-loading #movieYear,
.modal.data-loading #movieRating,
.modal.data-loading #movieGenres,
.modal.data-loading #movieGenres,
.modal.data-loading #movieRuntime {
    color: #f0f8ff00;
    background-color: #ffffff17;
}

.description-container {
    gap: 15px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.player-container {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    width: 80vw;
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    box-shadow: 0 0 30px #009aff80;
    transform: translate(-50%, -50%);
}

#videoPlayer {
    width: 100%;
    height: 90%;
    margin-top: 46px;
}

.player-container>.close-player {
    position: absolute;
    right: 0;
    background-color: #00000000;
    padding: 3px;
    border-radius: 50%;
    margin: 5px;
    padding-bottom: 0;
    opacity: 0.5;
}

.player-container>.close-player:hover {
    background-color: #ff00004f;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.521);
    opacity: 1;
}